@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    /* Бразуер сначала попробует найти шрифт локально */
    src: local("Helvetica"),
         /* Если не получилось, загрузит woff2 */
         url("./font/Helvetica-Light.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("./font/Helvetica-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Helvetica-bold";
    font-style: normal;
    font-weight: 400;
    /* Бразуер сначала попробует найти шрифт локально */
    src: local("Helvetica-bold"),
         /* Если не получилось, загрузит woff2 */
         url("./font/Helvetica-Bold.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("./font/Helvetica-Bold.woff2") format("woff2");
}


body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, black, rgb(11, 26, 69));
    font-family: "Helvetica";
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    height: 30px;
    color: #ffffff;
}

.header__items {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.header__item {
    margin-left: 10px;
    font-size: 13px;
    color: gray;
    transition: color 0.3s;
    cursor: pointer;
}

.header__item:hover {
    color: white;
}

.header__item:first-child {
    margin-left: 0;
}

.header__item:last-child{
    position: absolute;
    left: 90%;
}

/* main */

.new {
    color: white;
    cursor: pointer;
}

.new__span {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font-size: 30px;
    font-family: "Helvetica-bold";
    text-align: center;
    margin-bottom: 10%;
}

/* modal */

.modal {
  display: none;
  position: absolute;
  top: 15%;
  left: 27.5%;
  width: 45%;
  height: 70%;
  background-color: #ffffff;
  border-radius: 25px;
}

.modal__show {
  display: block;
}

.modal::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal__content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  box-shadow: -1px 5px 12px 0 rgba(89, 90, 90, 0.3);
  border-radius: 25px;
  z-index: 2;
}

.modal__close {
  position: absolute;
  font-size: 30px;
  left: 95%;
  top: 2%;
  color: red;
  cursor: pointer;
  transform: rotate(90deg);
}

.modal__logo {
  position: relative;
  width: 70%;
  left: 45%;
  top: 10%;
  font-size: 50px;
}

.modal__input-1 {
  margin-top: 20%;
  margin-left: 10%;
}

.modal__input-1-i {
  padding-left: 70%;
  border-radius: 5px;
}

.modal__input-2 {
  margin-top: 10%;
  margin-left: 10%;
}

.modal__input-2-i {
  padding-left: 70%;
  padding-top: 30%;
  border-radius: 5px;
}

.modal__btn {
  position: absolute;
  top: 85%;
  left: 20%;
  width: 60%;
  height: 10%;
}

.modal__btn-btn {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

/* Proect */

.proect {
    margin-top: 2%;
    width: 85%;
    height: 100px;
    background-color: #444444;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    cursor: pointer;
}

.proect__num {
    height: 100px;
    width: 50px;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.proect__info {
    display: flex;
    width: 100%;
    border-radius: 0 20px 20px 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.proect_1 {
    transition: all 0.5s ease-in-out; 
}

.proect_1:hover {
    width: 88%;
    height: 110px;
    background-color: #ffffff;
}