@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
         /* Если не получилось, загрузит woff2 */
         url("./TTLakes/TTLakes-Light.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("./TTLakes/TTLakes-Light.eot") format("eot");
}

body {
    font-family: 'TTLakes';
    padding: 0;
    margin: 0;
    width: 100%;
}

.header {
    height: 80px;
    border-top: 1px solid #D9FFF5;
    background-color: white;
}

.header__p {
    height: 80px;
    font-size: 16px;
    color: #7E7E82;
    margin-top: 16px;
    margin-left: 16px
}

.main {
    background-color: #f8f8f8;
    height: 120px;
}

.f {
    display: none;
}

.swiperr {
    width: 100%;
    height: 200px;
}

.swiper {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: 72px;
    background-color: #ffffff;
}

.swiper-slide {
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    width: 240px;
    margin-left: 10px;
}

.swiper-slide:first-child {
    margin-left: 0;
}

.main__ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
}

.main__li {
    width: 240px;
    height: 72px;
    border-radius: 10px;
    background-color: #ffffff;
}

.main__logo {
    margin-top: 18px;
    margin-left: 16px;
}

.main__arrow {
    float: right;
    margin-top: 16px;
    margin-right: 16px;
}

.pocaz {
    display: none;
}

.scrit {
    display: none;
}



@media (min-width: 768px) and (max-width: 1120px) {
    .swiperr {
        display: none;
    }

    .main {
        height: 100%;
    }

    .f {
        display: block;
        color: #EAEAEA;
    }
    
    .main__ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .main__li {
        margin-left: 0px;
    }

    .main__li_mid {
        display: none;
    }

    .pocaz {
        display: block;
        margin-top: 30px;
        margin-left: 20px;
        cursor: pointer;
    }

    .pocaz__img {
        margin-right: 10px;
    }

    .scrit {    
        margin-top: 30px;
        margin-left: 20px;
        cursor: pointer;
    }

    .scrit__img {
        margin-right: 10px;
    }

    .none {
        display: none;
    }
}

@media (min-width: 1120px) {
    .swiperr {
        display: none;
    }

    .main {
        height: 100%;
    }

    .f {
        display: block;
        color: #EAEAEA;
    }
    
    .main__ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .main__li {
        margin-left: 0px;
    }

    .main__li_mid {
        display: none;
    }

    .pocaz {
        display: block;
        margin-top: 30px;
        margin-left: 20px;
        cursor: pointer;
    }

    .pocaz__img {
        margin-right: 10px;
    }

    .scrit {    
        margin-top: 30px;
        margin-left: 20px;
        cursor: pointer;
    }

    .scrit__img {
        margin-right: 10px;
    }

    .none {
        display: none;
    }
}