@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
         /* Если не получилось, загрузит woff2 */
         url("./TTLakes/TTLakes-Light.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("./TTLakes/TTLakes-Light.eot") format("eot");
}
@font-face {
    font-family: "TTLakes-Black";
    font-style: normal;
    font-weight: 100;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
         /* Если не получилось, загрузит woff2 */
         url("./TTLakes/TTLakes-Bold.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("./TTLakes/TTLakes-Bold.eot") format("eot");
}

body {
    font-family: "TTLakes";
    padding: 0;
    margin: 0;
}

.nav {
    width: 320px;
    height: 1024px;
    box-shadow: 0 10px 10px 3px #cdcccc;
}

.header-ul {
    margin: 0;
    padding: 20px 15px;
    list-style: none;
    display: flex;
}

.header-ul__li {
    padding-left: 15px;
}

.header-ul__li:first-child{
    padding-left: 10px;
}

.sea {
    padding-left: 70px;
}


.opc {
    margin: 0;
    padding: 20px 15px;
    list-style: none;
}

.opc__li {
    padding-top: 20px;
    color: black;
}

.opc__li:first-child {
    color :rgb(189, 189, 189);
}

.opc__li:first-child::after {
    content: "";
    height: 30px;
    position: absolute;
    left: 0;
    border-right: 4px solid rgb(0, 255, 238);
    border-radius: 2px;
}

.inf {
    margin: 0;
    padding: 20px 15px;
    list-style: none;
    display: flex;
    margin-top: 120px
}

.inf li {
    padding-left: 20px
}

.inf li:first-child {
    padding-left: 0;
}

.mail {
    padding-left: 20px;
}

.tel {
    font-family: "TTLakes-Black";
    padding-left: 20px;
}

.lang {
    display: flex;
    margin: 0;
    padding: 20px 15px;
    list-style: none;
}

.lang li {
    padding-left: 20px;
    color: black;
}

.lang li:first-child {
    color: #a4a4a4;
}